.logo{
	font-size: 30px;
}

.nav li a{
	text-decoration: none;
	color: #626262;
	text-transform: uppercase;
	font-size: 14px;
}
.heroImg{
    background-image:  url(./../../assets/images/heroimage.jpg);
    height: 100vh;
    text-align: center;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}
// .img-fluid{
// 	width: 100%;
   
// }

@media all and (min-width: 992px){
    .navbar-nav li:not(:first-child){
        padding-left: 50px;
    }
}
