<footer class="footer">
    <div class="container">
        <div class="row footRow">
            <div class="col-md-8 offset-1 ">
                    <span class="terms">
                        <a href="javascript:;">Terms and conditions</a>
                    </span>
                    <span class="terms">
                        <a href="javascript:;" class="pl-20">Privacy</a>
                    </span>
            </div>
            <div class="col-md-2 offset-1 d-flex justify-content-around">
                    <span class="terms">Follow</span>
                    <span class="terms" *ngFor="let icon of footerArray">
                        <a [href]="icon.imgLink" [innerHTML]="icon.icon">
                            
                        </a>
                    </span>
            </div>
        </div>
    </div>
</footer>