<section class="signUp d-flex justify-content-center flex-column align-items-center mb-70">
    <h2 class="heading mt-70">
        Sign up for our newsletter!
    </h2>
    <div class="form-group groupRel col-md-5 d-flex">
        <div class="col-12">
            <input type="text" class="form-control inputEmail" placeholder="Enter a valid email address">
        </div>
        <div class="buttonRev">
            <button class="btn btn-transparent"><i class="fas fa-arrow-circle-right"></i></button>
        </div>
    </div>
    
</section>