.signUp{
	height: 300px;
	background-color: #f0f0f0;
	/* text-align: center; */
}
.groupRel{
	margin-top: 75px;
	position: relative;
}
.buttonRev{
	position: absolute;
	left: 85%;
}
.inputEmail{
	background-color: #f0f0f0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1.5px solid;
	border-radius: 0%;
	padding: 0;
}
.inputEmail:active, .inputEmail:focus{
	border: 0px solid;
	/* outline-color: none; */
	background-color: #f0f0f0;
}
.loadBtn{
	border: 1px solid;
	padding: 15px 30px;
	border-radius: 0%;
	margin: 0 auto;
	margin-top: 90px;
	font-size: 20px;
	color: #626262;
}
.loadBtn:hover, .loadBtn:active{
	background-color: #626262;
	color: #fff;
	transition: all 0.7s ease-in;
}